<div
  [ngStyle]="{ left: element.x, top: element.y }"
  [ngClass]="{ active: isImageActive }"
  [cdkDragBoundary]="'.container'"
  cdkDrag
  (click)="isImageActive = !isImageActive"
  [cdkDragDisabled]="!dragDropStatus"
>
  <div class="image-box" id="box" (mouseenter)="dragDropStatus = false" (mouseleave)="dragDropStatus = true">
    <img
      style="width:100%;height:100%;"
      (mouseenter)="dragDropStatus = true"
      (mouseleave)="dragDropStatus = false"
      [src]="_DomSanitizer.bypassSecurityTrustUrl(element.url)"
    />
  </div>
</div>
