<div class="el-box">
  <div
    class="table"
    #tableContainer
    [ngClass]="{ active: element.isActive }"
    (click)="element.isActive = !element.isActive"
  >
    <div
      *ngFor="let cell of element.cells | filterBy: { isHeader: true }"
      dndDropzone
      (dndDragover)="onDragover($event, cell)"
      (dndDrop)="onDrop($event, cell)"
      (mousedown)="onTableMouseDown($event, cell.rowIndex, cell.colIndex)"
      (mouseover)="onTableMouseMove($event, cell.rowIndex, cell.colIndex)"
      (mouseup)="onTableMouseUp($event, cell.rowIndex, cell.colIndex)"
      class="table-cell"
      id="cell-{{ cell.id }}"
      #tableCell
      [ngClass]="{ selected: cell.isSelected, header: cell.isHeader, 'drag-over': cell.isDragOver }"
      [style.width]="cell.width + 'px'"
      [style.height]="cell.height + 'px'"
      [style.left]="cell.left + 'px'"
      [style.top]="cell.top + 'px'"
      [style.line-height]="cell.height + 'px'"
      style="text-align: center;"
      [style.background]="cell.bgColor"
      [style.color]="cell.fontColor"
      [style.font-size]="cell.fontSize + 'px'"
    >
      {{ cell.headerData ? cell.headerData.friendlyName : '' }}
    </div>

    <div
      *ngFor="let cell of element.cells | filterBy: { isHeader: false }"
      (mousedown)="onTableMouseDown($event, cell.rowIndex, cell.colIndex)"
      (mouseover)="onTableMouseMove($event, cell.rowIndex, cell.colIndex)"
      (mouseup)="onTableMouseUp($event, cell.rowIndex, cell.colIndex)"
      class="table-cell"
      id="cell-{{ cell.id }}"
      #tableCell
      [ngClass]="{ selected: cell.isSelected, header: cell.isHeader }"
      [style.width]="cell.width + 'px'"
      [style.height]="cell.height + 'px'"
      [style.left]="cell.left + 'px'"
      [style.top]="cell.top + 'px'"
      [style.line-height]="cell.height + 'px'"
      style="text-align: center;"
      [style.background]="cell.bgColor"
      [style.color]="cell.fontColor"
      [style.font-size]="cell.fontSize + 'px'"
    >
      {{ cell.value }}
    </div>
  </div>
</div>
