<div class="el-box">
  <div
    class="table"
    #tableContainer
    [ngClass]="{ active: element.isActive }"
    (click)="element.isActive = !element.isActive"
  >
    <div
      *ngFor="let col of element.cells"
      (mousedown)="onTableMouseDown($event, col.rowIndex, col.colIndex)"
      (mouseover)="onTableMouseMove($event, col.rowIndex, col.colIndex)"
      (mouseup)="onTableMouseUp($event, col.rowIndex, col.colIndex)"
      class="table-cell"
      id="cell-{{ col.rowIndex }}-{{ col.colIndex }}"
      #tableCell
      [ngClass]="{ selected: col.isSelected, header: col.isHeader }"
      [style.width]="col.width + 'px'"
      [style.height]="col.height + 'px'"
      [style.left]="col.left + 'px'"
      [style.top]="col.top + 'px'"
      [style.line-height]="col.height + 'px'"
      style="text-align: center;"
    ></div>
  </div>
</div>
