<!-- <div style="position: relative;">
    <div  class="left-arrow right-arrow"
    *ngIf="element.shapeType == shapeType.line"
     [ngClass]="{'left-arrow':(element.isLineArrow && element.arrowDirection=='left') ,'right-arrow':(element.isLineArrow && element.arrowDirection=='right')}"
     [style.border-bottom]="borderSettings"
     [style.rotate]="element.rotate">
      <span 
      [style.color]="element.color"
      [style.text-align]="element.textAlign"
      [style.font-size]="element.textFontSize"
    
       *ngIf="element.isShowText">
        {{element.text}}
      </span>
    </div>
    
    <div *ngIf="element.shapeType == shapeType.square">
      <span>
        square
      </span>
    </div>
</div> -->
<div [style.transform]="'rotate(' + element.rotate + 'deg)'">
  <span
    *ngIf="element.isShowText"
    style="position: absolute; width: 100%;padding-left: 5px;padding-right: 5px;"
    [style.text-align]="element.textAlign"
    [style.color]="element.color"
    [style.font-size]="element.textFontSize + 'pt'"
  >
    {{ element.text }}
  </span>
  <canvas id="{{ element.id }}"></canvas>
</div>
