<div class="tools-container">
  <div class="tools-box" (click)="createTextElemet()">
    <i class="fas fa-text-width tools-icon"></i>
    <small class="tools-box-text">Text</small>
  </div>
  <div class="tools-box" (click)="openModal(imageContent)">
    <i class="far fa-image tools-icon"></i>
    <small class="tools-box-text">Image</small>
  </div>
  <div class="tools-box" (click)="openModal(shapeContent, '', 'lg')">
    <i class="fas fa-shapes tools-icon"></i>
    <small class="tools-box-text">Shape</small>
  </div>
  <div class="tools-box" (click)="openModal(tableContent, 'table-modal')">
    <i class="fas fa-table tools-icon"></i>
    <small class="tools-box-text">Table</small>
  </div>
  <div class="tools-box" (click)="openModal(content)">
    <i class="far fa-chart-bar tools-icon"></i>
    <small class="tools-box-text">Chart</small>
  </div>
  <div class="tools-box">
    <i class="fas fa-film tools-icon"></i>
    <small class="tools-box-text">Media</small>
  </div>

  <div class="tools-box box-export" (click)="onExport()">
    <i class="fas fa-file-export tools-icon"></i>
    <small class="tools-box-text">Export</small>
  </div>

  <!--  -->
</div>

<ng-template #content let-modal>
  <div class="modal-body">
    <ul class="nav " id="myTab" role="tablist">
      <!-- Clustered Charts Tab  -->
      <li class="tab-bar-li" (click)="selectTab = 1" [ngClass]="{ 'tab-bar-li-active': selectTab == 1 }">
        <a
          class="nav-link"
          id="clustered-tab"
          data-toggle="tab"
          role="tab"
          aria-controls="clustered"
          aria-selected="true"
          ><img src="../../../../assets/icons/1.png" class="icon-class"
        /></a>
      </li>

      <!-- Bar Charts Tab  -->
      <li class="tab-bar-li" (click)="selectTab = 2" [ngClass]="{ 'tab-bar-li-active': selectTab == 2 }">
        <a class="nav-link" id="bar-tab" data-toggle="tab" role="tab" aria-controls="bar" aria-selected="true"
          ><img src="../../../../assets/icons/2.png" class="icon-class"
        /></a>
      </li>

      <!-- Line Charts Tab  -->
      <li class="tab-bar-li" (click)="selectTab = 3" [ngClass]="{ 'tab-bar-li-active': selectTab == 3 }">
        <a class="nav-link" id="bar-tab" data-toggle="tab" role="tab" aria-controls="bar" aria-selected="true"
          ><img src="../../../../assets/icons/6.png" class="icon-class"
        /></a>
      </li>

      <!-- Scatter Charts Tab  -->
      <li class="tab-bar-li" (click)="selectTab = 4" [ngClass]="{ 'tab-bar-li-active': selectTab == 4 }">
        <a class="nav-link" id="bar-tab" data-toggle="tab" role="tab" aria-controls="bar" aria-selected="true"
          ><img src="../../../../assets/icons/5.png" class="icon-class"
        /></a>
      </li>

      <!-- Pie Charts Tab  -->
      <li class="tab-bar-li" (click)="selectTab = 5" [ngClass]="{ 'tab-bar-li-active': selectTab == 5 }">
        <a class="nav-link" id="bar-tab" data-toggle="tab" role="tab" aria-controls="bar" aria-selected="true"
          ><img src="../../../../assets/icons/asdwe.png" class="icon-class"
        /></a>
      </li>

      <!-- Area Charts Tab  -->
      <li class="tab-bar-li" (click)="selectTab = 6" [ngClass]="{ 'tab-bar-li-active': selectTab == 6 }">
        <a class="nav-link" id="bar-tab" data-toggle="tab" role="tab" aria-controls="bar" aria-selected="true"
          ><img src="../../../../assets/icons/asd.png" class="icon-class"
        /></a>
      </li>

      <!-- Area Charts Tab  -->
      <li class="tab-bar-li" (click)="selectTab = 7" [ngClass]="{ 'tab-bar-li-active': selectTab == 7 }">
        <a class="nav-link" id="bar-tab" data-toggle="tab" role="tab" aria-controls="bar" aria-selected="true"
          ><img src="../../../../assets/icons/11.png" class="icon-class"
        /></a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent" style="    width: 100%;padding: 15px;"></div>
    <div class="tab-content" id="myTabContent" style="    width: 100%;padding: 15px;">
      <!-- Clustered Column -->
      <div
        class="tab-pane fade show active"
        *ngIf="selectTab == 1"
        id="clustered"
        role="tabpanel"
        aria-labelledby="clustered-tab"
      >
        <div class="sub-type-list">
          <div class="sub-type" (click)="onAddChart(chartType.ClusteredColumn)">
            <div class="sub-type-image-div">
              <img src="../../../../assets/icons/004-analysis-3.png" class="sub-type-image" />
            </div>
            <div class="sub-type-text"><span>Clustered Column</span></div>
          </div>

          <div class="sub-type" (click)="onAddChart(chartType.StackedColumn)">
            <div class="sub-type-image-div">
              <img src="../../../../assets/icons/013-bar-chart-3.png" class="sub-type-image" />
            </div>
            <div class="sub-type-text"><span>Stacked Column</span></div>
          </div>

          <div class="sub-type" (click)="onAddChart(chartType.StackedColumn100)">
            <div class="sub-type-image-div">
              <img src="../../../../assets/icons/3.png" class="sub-type-image" />
            </div>
            <div class="sub-type-text"><span>100% Stacked Column</span></div>
          </div>
        </div>
      </div>

      <!-- Bar Chart -->
      <div class="tab-pane fade show active" *ngIf="selectTab == 2" id="bar" role="tabpanel" aria-labelledby="bar-tab">
        <div class="sub-type-list">
          <div class="sub-type" (click)="onAddChart(chartType.ClusteredBar)">
            <div class="sub-type-image-div">
              <img src="../../../../assets/icons/012-bar-chart-2.png" class="sub-type-image" />
            </div>
            <div class="sub-type-text"><span>Clustered Bar</span></div>
          </div>

          <div class="sub-type" (click)="onAddChart(chartType.StackedBar)">
            <div class="sub-type-image-div">
              <img src="../../../../assets/icons/010-charts-14.png" class="sub-type-image" />
            </div>
            <div class="sub-type-text"><span>Stacked Bar</span></div>
          </div>

          <div class="sub-type" (click)="onAddChart(chartType.StackedBar100)">
            <div class="sub-type-image-div">
              <img src="../../../../assets/icons/010-charts-14.png" class="sub-type-image" />
            </div>
            <div class="sub-type-text"><span>100% Stacked Bar</span></div>
          </div>
        </div>
      </div>

      <!-- Line Chart -->
      <div class="tab-pane fade show active" *ngIf="selectTab == 3" id="bar" role="tabpanel" aria-labelledby="bar-tab">
        <div class="sub-type-list">
          <div class="sub-type" (click)="onAddChart(chartType.Line)">
            <div class="sub-type-image-div">
              <img src="../../../../assets/icons/026-line-graph-1.png" class="sub-type-image" />
            </div>
            <div class="sub-type-text"><span>Line</span></div>
          </div>

          <div class="sub-type" (click)="onAddChart(chartType.StackedLine)">
            <div class="sub-type-image-div">
              <img src="../../../../assets/icons/026-line-graph-1.png" class="sub-type-image" />
            </div>
            <div class="sub-type-text"><span>Stacked Line</span></div>
          </div>

          <div class="sub-type" (click)="onAddChart(chartType.StackedLine100)">
            <div class="sub-type-image-div">
              <img src="../../../../assets/icons/026-line-graph-1.png" class="sub-type-image" />
            </div>
            <div class="sub-type-text"><span>100% Stacked Line</span></div>
          </div>

          <div class="sub-type" (click)="onAddChart(chartType.MarkedLine)">
            <div class="sub-type-image-div">
              <img src="../../../../assets/icons/027-line-graph-2.png" class="sub-type-image" />
            </div>
            <div class="sub-type-text"><span>Marked Line</span></div>
          </div>

          <div class="sub-type" (click)="onAddChart(chartType.StackedMarkedLine)">
            <div class="sub-type-image-div">
              <img src="../../../../assets/icons/027-line-graph-2.png" class="sub-type-image" />
            </div>
            <div class="sub-type-text"><span>Stacked Marked Line</span></div>
          </div>

          <div class="sub-type" (click)="onAddChart(chartType.StackedMarkedLine100)">
            <div class="sub-type-image-div">
              <img src="../../../../assets/icons/027-line-graph-2.png" class="sub-type-image" />
            </div>
            <div class="sub-type-text"><span>100% Stacked Marked Line</span></div>
          </div>
        </div>
      </div>

      <!-- Line Chart -->
      <div class="tab-pane fade show active" *ngIf="selectTab == 4" id="bar" role="tabpanel" aria-labelledby="bar-tab">
        <div class="sub-type-list">
          <div class="sub-type" (click)="onAddChart(chartType.MarkedScatter)">
            <div class="sub-type-image-div">
              <img src="../../../../assets/icons/029-line-graph-4.png" class="sub-type-image" />
            </div>
            <div class="sub-type-text"><span>Marked Scatter</span></div>
          </div>

          <div class="sub-type" (click)="onAddChart(chartType.SmoothMarkedScatter)">
            <div class="sub-type-image-div">
              <img src="../../../../assets/icons/029-line-graph-4.png" class="sub-type-image" />
            </div>
            <div class="sub-type-text"><span>Smooth Marked Scatter</span></div>
          </div>

          <div class="sub-type" (click)="onAddChart(chartType.SmoothLinedScatter)">
            <div class="sub-type-image-div">
              <img src="../../../../assets/icons/029-line-graph-4.png" class="sub-type-image" />
            </div>
            <div class="sub-type-text"><span>Smooth Lined Scatter</span></div>
          </div>

          <div class="sub-type" (click)="onAddChart(chartType.StraightMarkedScatter)">
            <div class="sub-type-image-div">
              <img src="../../../../assets/icons/029-line-graph-4.png" class="sub-type-image" />
            </div>
            <div class="sub-type-text"><span>Straight Marked Scatter</span></div>
          </div>

          <div class="sub-type" (click)="onAddChart(chartType.StraightLinedScatter)">
            <div class="sub-type-image-div">
              <img src="../../../../assets/icons/029-line-graph-4.png" class="sub-type-image" />
            </div>
            <div class="sub-type-text"><span>Straight Lined Scatter</span></div>
          </div>
        </div>
      </div>

      <!-- Pie Chart -->
      <div class="tab-pane fade show active" *ngIf="selectTab == 5" id="bar" role="tabpanel" aria-labelledby="bar-tab">
        <div class="sub-type-list">
          <div class="sub-type" (click)="onAddChart(chartType.Pie)">
            <div class="sub-type-image-div">
              <img src="../../../../assets/icons/031-pie-chart-1.png" class="sub-type-image" />
            </div>
            <div class="sub-type-text"><span>Pie</span></div>
          </div>

          <div class="sub-type" (click)="onAddChart(chartType.ExplodedPie)">
            <div class="sub-type-image-div">
              <img src="../../../../assets/icons/032-pie-chart-2.png" class="sub-type-image" />
            </div>
            <div class="sub-type-text"><span>Exploded Pie</span></div>
          </div>
        </div>
      </div>

      <!-- Area Chart -->
      <div class="tab-pane fade show active" *ngIf="selectTab == 6" id="bar" role="tabpanel" aria-labelledby="bar-tab">
        <div class="sub-type-list">
          <div class="sub-type" (click)="onAddChart(chartType.Area)">
            <div class="sub-type-image-div">
              <img src="../../../../assets/icons/003-analysis-2.png" class="sub-type-image" />
            </div>
            <div class="sub-type-text"><span>Area</span></div>
          </div>

          <div class="sub-type" (click)="onAddChart(chartType.StackedArea)">
            <div class="sub-type-image-div">
              <img src="../../../../assets/icons/003-analysis-2.png" class="sub-type-image" />
            </div>
            <div class="sub-type-text"><span>Stacked Area</span></div>
          </div>

          <div class="sub-type" (click)="onAddChart(chartType.StackedArea100)">
            <div class="sub-type-image-div">
              <img src="../../../../assets/icons/003-analysis-2.png" class="sub-type-image" />
            </div>
            <div class="sub-type-text"><span>100% Stacked Area</span></div>
          </div>
        </div>
      </div>

      <!-- Doughnut Chart -->
      <div class="tab-pane fade show active" *ngIf="selectTab == 7" id="bar" role="tabpanel" aria-labelledby="bar-tab">
        <div class="sub-type-list">
          <div class="sub-type" (click)="onAddChart(chartType.Doughnut)">
            <div class="sub-type-image-div">
              <img src="../../../../assets/icons/016-circular-chart-1.png" class="sub-type-image" />
            </div>
            <div class="sub-type-text"><span>Doughnut</span></div>
          </div>

          <div class="sub-type" (click)="onAddChart(chartType.ExplodedDoughnut)">
            <div class="sub-type-image-div">
              <img src="../../../../assets/icons/016-circular-chart-1.png" class="sub-type-image" />
            </div>
            <div class="sub-type-text"><span>Exploded Doughnut</span></div>
          </div>

          <div class="sub-type" (click)="onAddChart(chartType.Bubble)">
            <div class="sub-type-image-div">
              <img src="../../../../assets/icons/016-circular-chart-1.png" class="sub-type-image" />
            </div>
            <div class="sub-type-text"><span>Bubble</span></div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div> -->
  </div>
</ng-template>

<!-- 
  Table Content
 -->

<ng-template #tableContent let-modal>
  <div class="modal-body">
    <div class="table-box-list" (mouseleave)="onTableBoxOver()">
      <div
        class="box"
        (click)="onBoxClick(box)"
        (mouseenter)="onTableBoxHover(box)"
        [ngClass]="{ active: box.isActive }"
        *ngFor="let box of tableBox"
      ></div>
    </div>

    <div class="text-align-c">
      <span class="selected-box-index"> 0 x 0 </span>
    </div>
  </div>
</ng-template>

<ng-template #shapeContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Shape</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="sub-type-list">
      <div class="sub-type" (click)="onAddShape(shapeType.line)">
        <i class="fas fa-arrows-alt-h"></i>
        <span class="sub-type-text sub-type-image"> Düz Çizgi </span>
      </div>
      <div class="sub-type" (click)="onAddShape(shapeType.square)">
        <i class="far fa-square"></i>
        <span class="sub-type-text sub-type-image"> Kare </span>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #imageContent let-modal>
  <div class="modal-body">
    <div
      ng2FileDrop
      (onFileDrop)="onFileDrop($event)"
      [ngClass]="{ 'nv-file-over': hasBaseDropZoneOver }"
      (fileOver)="fileOverBase($event)"
      [uploader]="uploader"
      class="well my-drop-zone"
      class="dragdrop-upload-area"
    >
      <div><i class="far fa-images drop-icon"></i></div>
      <div>Drag and Drop</div>
      <div>
        <input
          class="drag-drop-input"
          type="file"
          ng2FileSelect
          [uploader]="uploader"
          (onFileSelected)="onFileSelect($event)"
          multiple
        />
      </div>
    </div>
  </div>
</ng-template>

<div class="main-container">
  <div class="slide-container">
    <ppt-slide-list></ppt-slide-list>
  </div>

  <div class="board">
    <div class="example-list">
      <ppt-element-container></ppt-element-container>
    </div>
  </div>

  <div class="ppt-format-container">
    <ppt-format></ppt-format>
  </div>
</div>
