.slide-list {
  border: 1px solid #d3d3d3;
  height: 100%;

  .slide-container {
    display: flex;
    padding: 5px;

    &.active {
      background-color: #b2b2b2;
    }
    .slide {
      height: 65px;
      border: 1px solid #d3d3d3;
      background-color: #ffffff;
      width: 100%;
      margin: 0 5px;

      &.active {
        box-shadow: 0 0 0 2px #fd8705;
      }
    }

    .slide-number {
      font-size: 11px;
      font-weight: bold;
      margin: 0 4px;
      cursor: default;
    }
  }

  .add-slide-button {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    span {
      border: 1.2px solid #d3d3d3;
      padding: 5px 10px;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}
