<div class="slide-list">
  <div
    class="slide-container"
    (click)="onSlideClick(slide)"
    *ngFor="let slide of slideList; let i = index"
    [ngClass]="{ active: slide.isActive }"
  >
    <div class="slide-number">
      <span>{{ i + 1 }}</span>
    </div>
    <div class="slide" [ngClass]="{ active: slide.isActive }">
      <img *ngIf="slide.previewImage" class="slide-preview" [src]="slide.previewImage" style="width: 100%;" />
    </div>
  </div>

  <div class="add-slide-button">
    <span (click)="addSlide()">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </span>
  </div>
</div>
