<div>
  <div class="form-check-label noselect ">
    <div ngbDropdown class="d-inline-block" [placement]="formatInput.position" [autoClose]="formatInput.autoClose">
      <button class="btn btn-outline-primary" id="dropDownInput" ngbDropdownToggle>{{ selectedItem }}</button>
      <div ngbDropdownMenu aria-labelledby="dropDownInput">
        <button ngbDropdownItem *ngFor="let item of formatInput.value" (click)="clickItem(item.key)">
          {{ item.value }}
        </button>
      </div>
    </div>
  </div>
  <small class="note" *ngIf="formatInput.note">{{ formatInput.note }}</small>
</div>
