<div class="element-list-container w-h-100">
  <ppt-base-element
    *ngFor="let item of elementList"
    (click)="onElementClick(item)"
    [element]="item"
    [type]="item.type"
    (highlightChange)="changeHighlight($event)"
    (onItemActiveChanged)="onItemActiveChanged($event)"
    (changeElementpPriorityEmitter)="changeElementpPriorityEmitter($event)"
    class="base-element"
  >
  </ppt-base-element>

  <div
    [style.left]="activeSlide.format.formatInputs.slidePageNumber.numberInputs[0].value + '%'"
    [style.top]="activeSlide.format.formatInputs.slidePageNumber.numberInputs[1].value + '%'"
    *ngIf="activeSlide && activeSlide.format.formatInputs.slidePageNumber"
    style="position: absolute;width: 12px;height: 12px; text-align: center;line-height: 12px;"
  >
    {{ activeSlide.pageNumber }}
  </div>
</div>
