<ng-container *ngIf="element && element.format.formatInputs">
  <div class="main-format">
    <div
      class="format-block"
      *ngIf="checkFormatType('ColumnChartFormatModel') || checkFormatType('BarChartFormatModel')"
    >
      <div class="format-title"><span class="format-title-text">Column Chart</span></div>
      <div class="row row-margin" *ngIf="element.format.formatInputs.chartSpaceBetweenCategory">
        <ppt-number-input
          [input]="element.format.formatInputs.chartSpaceBetweenCategory"
          (onValuechange)="onInputValuechange($event)"
        >
        </ppt-number-input>
      </div>
      <div class="row row-margin" *ngIf="element.format.formatInputs.chartSpaceBetweenBar">
        <ppt-number-input
          [input]="element.format.formatInputs.chartSpaceBetweenBar"
          (onValuechange)="onInputValuechange($event)"
        >
        </ppt-number-input>
      </div>
    </div>

    <div class="format-block" *ngIf="checkFormatType('PieChartFormatModel')">
      <div class="format-title"><span class="format-title-text">Pie Chart</span></div>
      <div class="row row-margin" *ngIf="element.format.formatInputs.pieCutoutPercentage">
        <ppt-number-input
          [input]="element.format.formatInputs.pieCutoutPercentage"
          (onValuechange)="onInputValuechange($event)"
        >
        </ppt-number-input>
      </div>
      <div class="row row-margin" *ngIf="element.format.formatInputs.pieRotation">
        <ppt-number-input
          [input]="element.format.formatInputs.pieRotation"
          (onValuechange)="onInputValuechange($event)"
        >
        </ppt-number-input>
      </div>
    </div>

    <div class="format-block" *ngIf="checkFormatType('DoughnutChartFormatModel')">
      <div class="format-title"><span class="format-title-text">Doughnut Chart</span></div>

      <div class="row row-margin" *ngIf="element.format.formatInputs.pieRotation">
        <ppt-number-input
          [input]="element.format.formatInputs.pieRotation"
          (onValuechange)="onInputValuechange($event)"
        >
        </ppt-number-input>
      </div>

      <div class="row row-margin" *ngIf="element.format.formatInputs.pieCutoutPercentage">
        <ppt-number-input
          [input]="element.format.formatInputs.pieCutoutPercentage"
          (onValuechange)="onInputValuechange($event)"
        >
        </ppt-number-input>
      </div>
    </div>

    <div class="format-block">
      <div class="format-title"><span class="format-title-text">Position and Size</span></div>
      <div class="row row-margin" *ngIf="element.format.formatInputs.x">
        <ppt-number-input [input]="element.format.formatInputs.x" (onValuechange)="onInputValuechange($event)">
        </ppt-number-input>
      </div>
      <div class="row row-margin" *ngIf="element.format.formatInputs.y">
        <ppt-number-input [input]="element.format.formatInputs.y" (onValuechange)="onInputValuechange($event)">
        </ppt-number-input>
      </div>
      <div class="row row-margin" *ngIf="element.format.formatInputs.width">
        <ppt-number-input [input]="element.format.formatInputs.width" (onValuechange)="onInputValuechange($event)">
        </ppt-number-input>
      </div>
      <div class="row row-margin" *ngIf="element.format.formatInputs.height">
        <ppt-number-input [input]="element.format.formatInputs.height" (onValuechange)="onInputValuechange($event)">
        </ppt-number-input>
      </div>
    </div>

    <div class="format-block">
      <div class="format-title"><span class="format-title-text">Data Labels</span></div>
      <div class="row row-margin" *ngIf="element.format.formatInputs.title">
        <ppt-checkbox-input [input]="element.format.formatInputs.title" (onValuechange)="onInputValuechange($event)">
        </ppt-checkbox-input>
      </div>

      <div class="row row-margin" *ngIf="element.format.formatInputs.legend">
        <ppt-checkbox-input [input]="element.format.formatInputs.legend" (onValuechange)="onInputValuechange($event)">
        </ppt-checkbox-input>
      </div>

      <div class="row row-margin" *ngIf="element.format.formatInputs.backgroundColor">
        <ppt-color-picker-input
          [input]="element.format.formatInputs.backgroundColor"
          (onValuechange)="onInputValuechange($event)"
        >
        </ppt-color-picker-input>
      </div>
      <div class="row row-margin" *ngIf="element.format.formatInputs.color">
        <ppt-color-picker-input
          [input]="element.format.formatInputs.color"
          (onValuechange)="onInputValuechange($event)"
        >
        </ppt-color-picker-input>
      </div>

      <div class="row row-margin" *ngIf="element.format.formatInputs.fontSize">
        <ppt-number-input [input]="element.format.formatInputs.fontSize" (onValuechange)="onInputValuechange($event)">
        </ppt-number-input>
      </div>

      <div class="row row-margin" *ngIf="element.format.formatInputs.radius">
        <ppt-number-input [input]="element.format.formatInputs.radius" (onValuechange)="onInputValuechange($event)">
        </ppt-number-input>
      </div>
      <div class="d-flex" style="margin-top: 20px;align-items: center;justify-content: center;">
        <div class="row-margin" *ngIf="element.format.formatInputs.isItalic">
          <ppt-checkbox-input
            [input]="element.format.formatInputs.isItalic"
            (onValuechange)="onInputValuechange($event)"
          >
          </ppt-checkbox-input>
        </div>
        <div class="row-margin" *ngIf="element.format.formatInputs.isBold">
          <ppt-checkbox-input [input]="element.format.formatInputs.isBold" (onValuechange)="onInputValuechange($event)">
          </ppt-checkbox-input>
        </div>

        <div
          class="row row-margin"
          *ngIf="element.format.formatInputs.isStroke"
          style="display: flex;flex-direction: row !important;justify-content: space-between;align-items: center;"
        >
          <div>
            <ppt-checkbox-input
              [input]="element.format.formatInputs.isStroke"
              (onValuechange)="onInputValuechange($event)"
            >
            </ppt-checkbox-input>
          </div>
          <div
            *ngIf="element.format.formatInputs.strokeColor && element.format.formatInputs.isStroke.value"
            style="margin-left:15px;    position: absolute;
          right: 20px;"
          >
            <ppt-color-picker-input
              [input]="element.format.formatInputs.strokeColor"
              (onValuechange)="onInputValuechange($event)"
            >
            </ppt-color-picker-input>
          </div>
        </div>
      </div>

      <div class="row row-margin" *ngIf="element.format.formatInputs.textIndent">
        <ppt-number-input [input]="element.format.formatInputs.textIndent" (onValuechange)="onInputValuechange($event)">
        </ppt-number-input>
      </div>

      <!-- <div class="row row-margin" *ngIf="element.format.formatInputs.firstLineIndent">
        <ppt-number-input [input]="element.format.formatInputs.firstLineIndent"
          (onValuechange)="onInputValuechange($event)">
        </ppt-number-input>
      </div> -->
      <div class="row row-margin" *ngIf="element.format.formatInputs.value">
        <ppt-checkbox-input [input]="element.format.formatInputs.value" (onValuechange)="onInputValuechange($event)">
        </ppt-checkbox-input>
      </div>

      <div class="row row-margin" *ngIf="element.format.formatInputs.font">
        <ppt-dropdown-input [input]="element.format.formatInputs.font" (onValuechange)="onInputValuechange($event)">
        </ppt-dropdown-input>
      </div>
      <div class="row row-margin" style="display: flex;" *ngIf="element.format.formatInputs.textAlign">
        <ppt-radio-button-input
          [input]="element.format.formatInputs.textAlign"
          (onValuechange)="onInputValuechange($event)"
        >
        </ppt-radio-button-input>
      </div>
    </div>

    <!-- <div class="format-block">
      <div class="format-title"><span class="format-title-text">Background</span></div>
      <div class="format-settings">
        <div class="row format-settings-dropdown clearfix" style="padding-bottom: 8px !important;">
          <div class="col-3 y-center">
            <span class="text">Fill</span>
          </div>
          <div class="col-9 right-div">
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Follow Layout
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row clearfix ">
          <div class="col-12 right-div">
            <span class="orange-text">Apply To All</span>
          </div>
        </div>
      </div>
    </div>

    <div class="format-block">
      <div class="format-title"><span class="format-title-text">Options</span></div>
      <div class="row row-margin">
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="customSwitch1" />
          <label class="custom-control-label" for="customSwitch1"
            ><span class="text">Hide Slide</span><span class="sub-text">(During Slideshow)</span></label
          >
        </div>
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="customSwitch2" />
          <label class="custom-control-label" for="customSwitch2"
            ><span class="text">Lock Slide(s)</span><span class="sub-text">(From Editing)</span></label
          >
        </div>
      </div>
    </div> -->
  </div>
</ng-container>
