<div style="padding: 15px;" *ngIf="!element && !activeSlide">
  Element seçili değil
</div>

<ng-container *ngIf="activeSlide && activeSlide.format.formatInputs">
  <div class="main-format">
    <div class="format-block" *ngIf="activeSlide">
      <div class="format-title"><span class="format-title-text">Active Slide</span></div>
      <div class="form-check-label" class="row row-margin">
        <ppt-multi-number-input
          [input]="activeSlide.format.formatInputs.slidePageNumber"
          (onValuechange)="onInputValuechange($event, false, activeSlide)"
        >
        </ppt-multi-number-input>
      </div>
      <div class="row row-margin">
        <ppt-color-picker-input
          [input]="activeSlide.format.formatInputs.slideBackgroundColor"
          (onValuechange)="onInputValuechange($event)"
        >
        </ppt-color-picker-input>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="element && element.format.formatInputs">
  <div class="main-format">
    <div class="format-block" *ngIf="isDefaultChart()">
      <div class="format-title"><span class="format-title-text">Category</span></div>

      <div *ngFor="let cat of element.dataModal.dataSets">
        <div class="form-check-label">
          <span class="text">
            {{ cat.label }}
          </span>
          <div style="margin-left: 10px;" class="row row-margin">
            <ppt-color-picker-input [input]="cat.formatInput" (onValuechange)="onCategoryBgColorChanged($event, cat)">
            </ppt-color-picker-input>
          </div>
        </div>
      </div>
    </div>

    <div
      class="format-block"
      *ngIf="checkFormatType('ColumnChartFormatModel') || checkFormatType('BarChartFormatModel')"
    >
      <div class="format-title"><span class="format-title-text">Column Chart</span></div>
      <div class="row row-margin" *ngIf="element.format.formatInputs.chartSpaceBetweenCategory">
        <ppt-number-input
          [input]="element.format.formatInputs.chartSpaceBetweenCategory"
          (onValuechange)="onInputValuechange($event)"
        >
        </ppt-number-input>
      </div>
      <!-- <div class="row row-margin" *ngIf="element.format.formatInputs.chartSpaceBetweenBar">
        <ppt-number-input
          [input]="element.format.formatInputs.chartSpaceBetweenBar"
          (onValuechange)="onInputValuechange($event)"
        >
        </ppt-number-input>
      </div> -->
    </div>

    <div class="format-block" *ngIf="isPieChart()">
      <div class="format-title"><span class="format-title-text">Pie Chart</span></div>
      <div class="row row-margin" *ngIf="element.format.formatInputs.pieCutoutPercentage">
        <ppt-number-input
          [input]="element.format.formatInputs.pieCutoutPercentage"
          (onValuechange)="onInputValuechange($event)"
        >
        </ppt-number-input>
      </div>
      <div class="row row-margin" *ngIf="element.format.formatInputs.pieRotation">
        <ppt-number-input
          [input]="element.format.formatInputs.pieRotation"
          (onValuechange)="onInputValuechange($event)"
        >
        </ppt-number-input>
      </div>

      <div *ngFor="let cat of element.dataModal.dataSet.backgroundColors; let i = index">
        <div style="display: flex;">
          <span>
            {{ element.dataModal.labels[i] }}
          </span>
          <div style="margin-left: 10px;" class="row row-margin">
            <ppt-color-picker-input [input]="cat.formatInput" (onValuechange)="onPieChartColorChange($event, cat)">
            </ppt-color-picker-input>
          </div>
        </div>
      </div>
    </div>

    <div class="format-block" *ngIf="checkFormatType('DoughnutChartFormatModel')">
      <div class="format-title"><span class="format-title-text">Doughnut Chart</span></div>

      <div class="row row-margin" *ngIf="element.format.formatInputs.pieRotation">
        <ppt-number-input
          [input]="element.format.formatInputs.pieRotation"
          (onValuechange)="onInputValuechange($event)"
        >
        </ppt-number-input>
      </div>

      <div class="row row-margin" *ngIf="element.format.formatInputs.pieCutoutPercentage">
        <ppt-number-input
          [input]="element.format.formatInputs.pieCutoutPercentage"
          (onValuechange)="onInputValuechange($event)"
        >
        </ppt-number-input>
      </div>
    </div>

    <div class="format-block" *ngIf="checkFormatType('TableFormatModel')">
      <div class="format-title"><span class="format-title-text">Table</span></div>

      <div class="row row-margin">
        <button class="btn button-grey" (click)="onMergeTableCells()">Merge Cells</button>
      </div>

      <div class="row row-margin" style="margin-top: 10px;">
        <button class="btn button-grey" (click)="onAddTableRow()">Satır Ekle</button>

        <button class="btn button-grey" (click)="onAddTableColumn()">Sütun Ekle</button>
      </div>
    </div>

    <div class="format-block" *ngIf="checkFormatType('TableFormatModel') && element.selectedCells.length > 0">
      <div class="format-title"><span class="format-title-text">Hücre Tasarımı</span></div>

      <div class="row row-margin">
        <ppt-color-picker-input
          [input]="element.format.formatInputs.cellFontColor"
          (onValuechange)="onInputValuechange($event)"
        >
        </ppt-color-picker-input>
      </div>

      <div class="row row-margin">
        <ppt-color-picker-input
          [input]="element.format.formatInputs.cellBackgroundColor"
          (onValuechange)="onInputValuechange($event)"
        >
        </ppt-color-picker-input>
      </div>

      <div class="row row-margin">
        <ppt-number-input
          [input]="element.format.formatInputs.cellFontSize"
          (onValuechange)="onInputValuechange($event)"
        >
        </ppt-number-input>
      </div>

      <div
        class="row row-margin"
        style="display: flex; flex-direction: row;"
        *ngIf="element.format.formatInputs.cellBorderType"
      >
        <div class="text" style="flex-grow: 1;">Border Tipi Seçiniz</div>
        <ppt-dropdown-input
          [input]="element.format.formatInputs.cellBorderType"
          (onValuechange)="onInputValuechange($event)"
        >
        </ppt-dropdown-input>
      </div>

      <div class="row row-margin">
        <ppt-number-input
          [input]="element.format.formatInputs.cellBorderSize"
          (onValuechange)="onInputValuechange($event)"
        >
        </ppt-number-input>
      </div>

      <div class="row row-margin">
        <ppt-color-picker-input
          [input]="element.format.formatInputs.cellBorderColor"
          (onValuechange)="onInputValuechange($event)"
        >
        </ppt-color-picker-input>
      </div>
    </div>

    <!-- <div class="format-block">
      <div class="format-title"><span class="format-title-text">Position and Size</span></div>
      <div class="row row-margin" *ngIf="element.format.formatInputs.x">
        <ppt-number-input [input]="element.format.formatInputs.x" (onValuechange)="onInputValuechange($event)">
        </ppt-number-input>
      </div>
      <div class="row row-margin" *ngIf="element.format.formatInputs.y">
        <ppt-number-input [input]="element.format.formatInputs.y" (onValuechange)="onInputValuechange($event)">
        </ppt-number-input>
      </div>
      <div class="row row-margin" *ngIf="element.format.formatInputs.width">
        <ppt-number-input [input]="element.format.formatInputs.width" (onValuechange)="onInputValuechange($event)">
        </ppt-number-input>
      </div>
      <div class="row row-margin" *ngIf="element.format.formatInputs.height">
        <ppt-number-input [input]="element.format.formatInputs.height" (onValuechange)="onInputValuechange($event)">
        </ppt-number-input>
      </div>
    </div> -->

    <div class="format-block">
      <div class="format-title"><span class="format-title-text">Data Labels</span></div>
      <div class="row row-margin" *ngIf="element.format.formatInputs.title">
        <ppt-checkbox-input [input]="element.format.formatInputs.title" (onValuechange)="onInputValuechange($event)">
        </ppt-checkbox-input>
      </div>

      <div class="row row-margin" *ngIf="element.format.formatInputs.chartTitleText">
        <ppt-text-input
          [input]="element.format.formatInputs.chartTitleText"
          (onValuechange)="onInputValuechange($event)"
        >
        </ppt-text-input>
      </div>

      <div class="row row-margin" *ngIf="element.format.formatInputs.legend">
        <ppt-checkbox-input [input]="element.format.formatInputs.legend" (onValuechange)="onInputValuechange($event)">
        </ppt-checkbox-input>
      </div>

      <div class="row row-margin" *ngIf="element.format.formatInputs.value">
        <ppt-checkbox-input [input]="element.format.formatInputs.value" (onValuechange)="onInputValuechange($event)">
        </ppt-checkbox-input>
      </div>

      <div
        class="row row-margin"
        *ngIf="element.format.formatInputs.smoothLine && checkFormatType('LineChartFormatModel')"
      >
        <ppt-checkbox-input
          [input]="element.format.formatInputs.smoothLine"
          (onValuechange)="onInputValuechange($event)"
        >
        </ppt-checkbox-input>
      </div>

      <!-- <div class="row row-margin" *ngIf="element.format.formatInputs.chartLabelsFont">
        <ppt-dropdown-input
          [input]="element.format.formatInputs.chartLabelsFont"
          (onValuechange)="onInputValuechange($event)"
        >
        </ppt-dropdown-input>
      </div>
      <div class="row row-margin" *ngIf="element.format.formatInputs.chartLabelsFontSize">
        <ppt-number-input
          [input]="element.format.formatInputs.chartLabelsFontSize"
          (onValuechange)="onInputValuechange($event)"
        >
        </ppt-number-input>
      </div>
      <div class="row row-margin">
        <ppt-color-picker-input
          [input]="element.format.formatInputs.chartLabelsFontColor"
          (onValuechange)="onInputValuechange($event)"
        >
        </ppt-color-picker-input>
      </div> -->
      <div class="row row-margin" *ngIf="element.format.formatInputs.fontColor">
        <ppt-color-picker-input
          [input]="element.format.formatInputs.fontColor"
          (onValuechange)="onInputValuechange($event)"
        >
        </ppt-color-picker-input>
      </div>
      <div class="row row-margin" *ngIf="element.format.formatInputs.backgroundColor">
        <ppt-color-picker-input
          [input]="element.format.formatInputs.backgroundColor"
          x
          (onValuechange)="onInputValuechange($event)"
        >
        </ppt-color-picker-input>
      </div>
      <div class="row row-margin" *ngIf="element.format.formatInputs.color">
        <ppt-color-picker-input
          [input]="element.format.formatInputs.color"
          (onValuechange)="onInputValuechange($event)"
        >
        </ppt-color-picker-input>
      </div>

      <div class="row row-margin" *ngIf="element.format.formatInputs.fontSize">
        <ppt-number-input [input]="element.format.formatInputs.fontSize" (onValuechange)="onInputValuechange($event)">
        </ppt-number-input>
      </div>

      <div class="row row-margin" *ngIf="element.format.formatInputs.radius">
        <ppt-number-input [input]="element.format.formatInputs.radius" (onValuechange)="onInputValuechange($event)">
        </ppt-number-input>
      </div>
      <div class="d-flex" style="margin-top: 20px;align-items: center;">
        <div class="row-margin" *ngIf="element.format.formatInputs.isItalic">
          <ppt-checkbox-input
            [input]="element.format.formatInputs.isItalic"
            (onValuechange)="onInputValuechange($event)"
          >
          </ppt-checkbox-input>
        </div>
        <div class="row-margin" *ngIf="element.format.formatInputs.isBold">
          <ppt-checkbox-input [input]="element.format.formatInputs.isBold" (onValuechange)="onInputValuechange($event)">
          </ppt-checkbox-input>
        </div>

        <div
          class="row row-margin"
          *ngIf="element.format.formatInputs.isStroke && isTextElement()"
          style="display: flex;flex-direction: row !important;justify-content: space-between;align-items: center;"
        >
          <div>
            <ppt-checkbox-input
              [input]="element.format.formatInputs.isStroke"
              (onValuechange)="onInputValuechange($event)"
            >
            </ppt-checkbox-input>
          </div>
          <div
            *ngIf="element.format.formatInputs.strokeColor && element.format.formatInputs.isStroke.value"
            style="margin-left:15px;    position: absolute;
          right: 20px;"
          >
            <ppt-color-picker-input
              [input]="element.format.formatInputs.strokeColor"
              (onValuechange)="onInputValuechange($event)"
            >
            </ppt-color-picker-input>
          </div>
        </div>
      </div>

      <div class="row row-margin" *ngIf="element.format.formatInputs.textIndent">
        <ppt-number-input [input]="element.format.formatInputs.textIndent" (onValuechange)="onInputValuechange($event)">
        </ppt-number-input>
      </div>
      <!-- 
      <div class="row row-margin" *ngIf="element.format.formatInputs.firstLineIndent">
        <ppt-number-input
          [input]="element.format.formatInputs.firstLineIndent"
          (onValuechange)="onInputValuechange($event)"
        >
        </ppt-number-input>
      </div> -->

      <div class="row row-margin" *ngIf="element.format.formatInputs.font">
        <ppt-dropdown-input [input]="element.format.formatInputs.font" (onValuechange)="onInputValuechange($event)">
        </ppt-dropdown-input>
      </div>
      <div
        class="row row-margin"
        style="display: flex;"
        *ngIf="element.format.formatInputs.textVerticalAlign && element.shapeType == shapeTypes.square"
      >
        <ppt-radio-button-input
          [input]="element.format.formatInputs.textVerticalAlign"
          (onValuechange)="onInputValuechange($event)"
        >
        </ppt-radio-button-input>
      </div>

      <div class="row row-margin" style="display: flex;" *ngIf="element.format.formatInputs.textAlign">
        <ppt-radio-button-input
          [input]="element.format.formatInputs.textAlign"
          (onValuechange)="onInputValuechange($event)"
        >
        </ppt-radio-button-input>
      </div>

      <!-- shape -->
      <div class="row row-margin" *ngIf="element.format.formatInputs.rotate">
        <ppt-number-input [input]="element.format.formatInputs.rotate" (onValuechange)="onInputValuechange($event)">
        </ppt-number-input>
      </div>

      <div class="row row-margin" *ngIf="element.format.formatInputs.lineSize && element.shapeType == shapeTypes.line">
        <ppt-number-input [input]="element.format.formatInputs.lineSize" (onValuechange)="onInputValuechange($event)">
        </ppt-number-input>
      </div>

      <div class="row row-margin" *ngIf="element.format.formatInputs.lineStyle && element.shapeType == shapeTypes.line">
        <ppt-dropdown-input
          [input]="element.format.formatInputs.lineStyle"
          (onValuechange)="onInputValuechange($event)"
        >
        </ppt-dropdown-input>
      </div>

      <div
        class="row row-margin"
        *ngIf="element.format.formatInputs.isLineArrow && element.shapeType == shapeTypes.line"
      >
        <ppt-checkbox-input
          [input]="element.format.formatInputs.isLineArrow"
          (onValuechange)="onInputValuechange($event)"
        >
        </ppt-checkbox-input>
      </div>
      <div
        class="row row-margin"
        *ngIf="element.format.formatInputs.arrowDirection && element.shapeType == shapeTypes.line"
      >
        <ppt-dropdown-input
          [input]="element.format.formatInputs.arrowDirection"
          (onValuechange)="onInputValuechange($event)"
        >
        </ppt-dropdown-input>
      </div>

      <div class="row row-margin" *ngIf="element.format.formatInputs.isShowText">
        <ppt-checkbox-input
          [input]="element.format.formatInputs.isShowText"
          (onValuechange)="onInputValuechange($event)"
        >
        </ppt-checkbox-input>
      </div>

      <div class="row row-margin" *ngIf="element.format.formatInputs.textFontSize">
        <ppt-number-input
          [input]="element.format.formatInputs.textFontSize"
          (onValuechange)="onInputValuechange($event)"
        >
        </ppt-number-input>
      </div>

      <div
        class="row row-margin"
        *ngIf="
          element.format.formatInputs.text &&
          ((element.shapeType == shapeTypes.line || element.shapeType == shapeTypes.square) &&
            element.format.formatInputs.isShowText)
        "
      >
        <ppt-text-input [input]="element.format.formatInputs.text" (onValuechange)="onInputValuechange($event)">
        </ppt-text-input>
      </div>

      <div
        class="row row-margin"
        *ngIf="element.format.formatInputs.shapeBorder && element.shapeType == shapeTypes.square"
      >
        <ppt-checkbox-input
          [input]="element.format.formatInputs.shapeBorder"
          (onValuechange)="onInputValuechange($event)"
        >
        </ppt-checkbox-input>
      </div>

      <div
        class="row row-margin"
        *ngIf="element.format.formatInputs.shapeBorderColor && element.shapeType == shapeTypes.square"
      >
        <ppt-color-picker-input
          [input]="element.format.formatInputs.shapeBorderColor"
          (onValuechange)="onInputValuechange($event)"
        >
        </ppt-color-picker-input>
      </div>

      <div
        class="row row-margin"
        *ngIf="element.format.formatInputs.shapeBorderSize && element.shapeType == shapeTypes.square"
      >
        <ppt-number-input
          [input]="element.format.formatInputs.shapeBorderSize"
          (onValuechange)="onInputValuechange($event)"
        >
        </ppt-number-input>
      </div>

      <div
        class="row row-margin"
        *ngIf="element.format.formatInputs.shapeBorderStyle && element.shapeType == shapeTypes.square"
      >
        <ppt-dropdown-input
          [input]="element.format.formatInputs.shapeBorderStyle"
          (onValuechange)="onInputValuechange($event)"
        >
        </ppt-dropdown-input>
      </div>
    </div>

    <!-- <div class="format-block">
      <div class="format-title"><span class="format-title-text">Background</span></div>
      <div class="format-settings">
        <div class="row format-settings-dropdown clearfix" style="padding-bottom: 8px !important;">
          <div class="col-3 y-center">
            <span class="text">Fill</span>
          </div>
          <div class="col-9 right-div">
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Follow Layout
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row clearfix ">
          <div class="col-12 right-div">
            <span class="orange-text">Apply To All</span>
          </div>
        </div>
      </div>
    </div>

    <div class="format-block">
      <div class="format-title"><span class="format-title-text">Options</span></div>
      <div class="row row-margin">
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="customSwitch1" />
          <label class="custom-control-label" for="customSwitch1"
            ><span class="text">Hide Slide</span><span class="sub-text">(During Slideshow)</span></label
          >
        </div>
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="customSwitch2" />
          <label class="custom-control-label" for="customSwitch2"
            ><span class="text">Lock Slide(s)</span><span class="sub-text">(From Editing)</span></label
          >
        </div>
      </div>
    </div> -->
  </div>
</ng-container>
