.note {
  font-style: italic;
  font-size: 10px;
  color: #b5a6a6;
  display: flex;
  justify-content: flex-end;
}

.number-input {
  margin-left: auto;
  font-size: 13px;
}

::ng-deep .multi-number-input {
  .input {
    margin-left: 15px;
  }

  .number-input {
    label {
      width: 85px;

      .text {
        width: unset !important;
      }

      input {
        margin-left: 15px;
        width: 65px;
        max-width: 65px;
      }
    }
  }
}
