<div #insideElement class="el-box">
  <pre
    [hidden]="!showText"
    class="text-element"
    [style.background-color]="element.backgroundColor"
    [style.font-size]="element.fontSize"
    [style.font-family]="element.font"
    [style.font-style]="element.fontStyle"
    [style.font-weight]="element.fontWeigth"
    [style.width]="element.width"
    [style.border-radius]="element.radius"
    [style.color]="element.color"
    (click)="showEditableText(); $event.stopPropagation()"
    [innerHTML]="element.text"
    class="text-margin"
  ></pre>

  <div
    [style.background-color]="element.backgroundColor"
    [style.font-size]="element.fontSize"
    [style.font-family]="element.font"
    [style.font-style]="element.fontStyle"
    [style.font-weight]="element.fontWeigth"
    [style.color]="element.color"
    [style.width]="element.width"
    [style.border-radius]="element.radius"
    [hidden]="showText"
    contenteditable="true"
    [(ngModel)]="element.text"
    class="text-margin"
  ></div>
</div>
