[contenteditable] {
  border: 1px dashed #d8d8d8;
  white-space: pre;
  outline: 0;
  padding: 2px;
}

[contenteditable]:focus {
  border-color: #b0b0ff;
}

[hidden] {
  display: none !important;
}

.text-element {
  overflow: unset !important;
}

.text-margin {
  margin-bottom: unset !important;
  cursor: text;
  overflow: unset;
  margin: 3px;
  padding: 0px 15px 10px 0;
}
