<div #insideElement class="el-box">
  <pre
    [hidden]="!showText"
    class="text-element"
    style="cursor: text;margin:3px;overflow: unset !important;"
    [style.background-color]="element.backgroundColor"
    [style.font-size]="element.fontSize"
    [style.font-family]="element.font"
    [style.font-style]="element.fontStyle"
    [style.font-weight]="element.fontWeigth"
    [style.width]="element.width"
    [style.border-radius]="element.radius"
    [style.color]="element.color"
    (click)="showEditableText(); $event.stopPropagation()"
    style="padding:2px"
    [innerHTML]="element.text"
    style="margin-bottom: unset !important"
  ></pre>

  <div
    style="cursor: text;overflow: unset;"
    [style.background-color]="element.backgroundColor"
    [style.font-size]="element.fontSize"
    [style.font-family]="element.font"
    [style.font-style]="element.fontStyle"
    [style.font-weight]="element.fontWeigth"
    [style.color]="element.color"
    [style.width]="element.width"
    [style.border-radius]="element.radius"
    [hidden]="showText"
    contenteditable="true"
    [(ngModel)]="element.text"
    style="margin-bottom: unset !important"
  ></div>
</div>
