.color-palette {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: auto;
  caret-color: transparent;
}

.note {
  font-style: italic;
  font-size: 10px;
  color: #b5a6a6;
  display: flex;
  justify-content: flex-end;
}
