<div>
  <label class="form-check-label noselect " for="colorPickerInput_{{ generatedId }}">
    <span class="text"> {{ formatInput.name }} </span>

    <input
      name="colorPicker-input"
      id="colorPickerInput_{{ generatedId }}"
      (colorPickerChange)="onValueChange($event)"
      [(colorPicker)]="formatInput.value"
      [style.background]="formatInput.value"
      [cpPosition]="'left'"
      class="form-control color-palette"
    />
  </label>
  <small class="note" *ngIf="formatInput.note">{{ formatInput.note }}</small>
</div>
