<div
  #baseElementCont
  class="base-element-container"
  id="box-{{ element.id }}"
  [cdkDragBoundary]="'.board'"
  cdkDrag
  (cdkDragEnded)="dragEnded($event)"
  (cdkDragMoved)="dragMoved($event)"
  [ngStyle]="{ 'z-index': element.z }"
  [ngClass]="{ active: element.isActive && isContainerActive, 'text-active': element.type == elementTypes.TEXT }"
  [cdkDragDisabled]="!dragDropStatus"
  (mouseover)="isContainerActive = true"
  (mousedown)="elementMouseDown($event)"
  [style.width]="element.format.formatInputs.width.value + 'px'"
  [style.height]="element.format.formatInputs.height.value + 'px'"
  [style.rotate]="element.format.formatInputs.rotate.value + 'deg'"
  (cdkDragStarted)="dragStart($event)"
>
  <div class="rotate-dotted">
    <i
      class="fas fa-circle"
      style="margin-right: 5px;font-size: 10px;color: #3eb522;"
      (mousedown)="rotateMouseDown($event)"
    ></i>
  </div>
  <div class="rotate-line"></div>

  <div [ngClass]="{ 'd-none': !element.isActive }" class="container-toolbox">
    <div class="toolbox-item" (mouseenter)="dragDropStatus = true" style="cursor: all-scroll;" cdkDragHandle>
      <i class="fas fa-grip-horizontal toolbox-item-icon" title="Taşı"></i>
    </div>
    <div class="toolbox-item">
      <img
        src="../../../../assets/icons/orginal-size-icon.png"
        class="fas fa-undo toolbox-item-icon"
        (click)="setElementNaturalSize()"
        title="İlk boyutuna döndür"
      />
    </div>
    <!-- <div class="toolbox-item">
      <i class="toolbox-item-icon fas fa-layer-group" [ngClass]="{ active: elHighlight }"
        (click)="highlightElement(element.id)" title="Ön plana çıkar"></i>
    </div> -->
    <div class="toolbox-item">
      <i class="fas fa-arrow-up toolbox-item-icon" title="Öne Çıkar" (click)="changeElementpPriority(true)"></i>
    </div>
    <div class="toolbox-item">
      <i class="fas  fa-arrow-down toolbox-item-icon" title="Geriye At" (click)="changeElementpPriority(false)"></i>
    </div>
  </div>
  <i
    [ngClass]="{ 'd-none': !element.isActive }"
    class="fas fa-circle top-left ui-resizable-handle ui-resizable-nw"
    (mouseenter)="dragDropStatus = false"
  ></i>
  <i
    [ngClass]="{ 'd-none': !element.isActive }"
    class="fas fa-circle top-right ui-resizable-handle ui-resizable-ne"
    (mouseenter)="dragDropStatus = false"
  ></i>
  <i
    [ngClass]="{ 'd-none': !element.isActive }"
    class="fas fa-circle bottom-left ui-resizable-handle ui-resizable-sw"
    (mouseenter)="dragDropStatus = false"
  ></i>
  <i
    [ngClass]="{ 'd-none': !element.isActive }"
    class="fas fa-circle bottom-right ui-resizable-handle ui-resizable-se"
    (mouseenter)="dragDropStatus = false"
  ></i>
  <i
    [ngClass]="{ 'd-none': !element.isActive }"
    class="fas fa-square only-top  ui-resizable-handle ui-resizable-n width-unset"
    (mouseenter)="dragDropStatus = false"
  ></i>
  <i
    [ngClass]="{ 'd-none': !element.isActive }"
    class="fas fa-square only-bottom  ui-resizable-handle ui-resizable-s width-unset"
    (mouseenter)="dragDropStatus = false"
  ></i>
  <i
    [ngClass]="{ 'd-none': !element.isActive }"
    class="fas fa-square only-right  ui-resizable-handle ui-resizable-e"
    (mouseenter)="dragDropStatus = false"
  ></i>
  <i
    [ngClass]="{ 'd-none': !element.isActive }"
    class="fas fa-square only-left  ui-resizable-handle ui-resizable-w"
    (mouseenter)="dragDropStatus = false"
  ></i>

  <!-- <div class="i-group" [ngClass]="{ 'dp-none': !(element.isActive && isContainerActive) }">
      <i class="fas fa-grip-horizontal" title="Taşı"></i>
      <img
        src="../../../../assets/icons/orginal-size-icon.png"
        class="fas fa-undo cursor-p"
        (click)="setElementNaturalSize()"
        title="İlk boyutuna döndür"
      />
     <img
        src="../../../../assets/layer-512.png"
        class="element-highlight"
        [ngClass]="{ active: elHighlight }"
        (click)="highlightElement(element.id)"
        title="Ön plana çıkar"
      /> -->
  <!-- <div style="float: right;">
        <i class="fas fa-arrow-up" title="Öne Çıkar" (click)="changeElementpPriority(true)"></i>
        <i class="fas  fa-arrow-down" title="Geriye At" (click)="changeElementpPriority(false)"></i>
      </div> -->
  <!-- </div>
  </div> -->

  <div class="container-size" style="width:100%;">
    <ng-container *ngIf="type == elementTypes.CHART">
      <ppt-chart-element [element]="element"> </ppt-chart-element>
    </ng-container>

    <ng-container *ngIf="type == elementTypes.TABLE">
      <ppt-table-element [element]="element"> </ppt-table-element>
    </ng-container>

    <ng-container *ngIf="type == elementTypes.TEXT">
      <ppt-text-element [element]="element"> </ppt-text-element>
    </ng-container>

    <ng-container *ngIf="type == elementTypes.IMAGE">
      <ppt-image-element [element]="element"></ppt-image-element>
    </ng-container>

    <ng-container *ngIf="type == elementTypes.SHAPE">
      <ppt-shape-element [element]="element"></ppt-shape-element>
    </ng-container>
  </div>
</div>
