<div
  #baseElementCont
  class="base-element-container"
  id="box-{{ element.id }}"
  [cdkDragBoundary]="'.board'"
  cdkDrag
  [ngStyle]="{ 'z-index': element.z }"
  [ngClass]="{ active: element.isActive && isContainerActive, 'text-active': element.type == elementTypes.TEXT }"
  [cdkDragDisabled]="!dragDropStatus"
  (mouseover)="isContainerActive = true"
  (mousedown)="elementMouseDown($event)"
  [style.width]="element.format.formatInputs.width.value + 'px'"
>
  <i
    [ngClass]="{ 'd-none': !element.isActive }"
    class="fas fa-square top-left ui-resizable-handle ui-resizable-nw"
    (mouseenter)="dragDropStatus = false"
  ></i>
  <i
    [ngClass]="{ 'd-none': !element.isActive }"
    class="fas fa-square top-right ui-resizable-handle ui-resizable-ne"
    (mouseenter)="dragDropStatus = false"
  ></i>
  <i
    [ngClass]="{ 'd-none': !element.isActive }"
    class="fas fa-square bottom-left ui-resizable-handle ui-resizable-sw"
    (mouseenter)="dragDropStatus = false"
  ></i>
  <i
    [ngClass]="{ 'd-none': !element.isActive }"
    class="fas fa-square bottom-right ui-resizable-handle ui-resizable-se"
    (mouseenter)="dragDropStatus = false"
  ></i>
  <i
    [ngClass]="{ 'd-none': !element.isActive }"
    class="fas fa-square only-top  ui-resizable-handle ui-resizable-n width-unset"
    (mouseenter)="dragDropStatus = false"
  ></i>
  <i
    [ngClass]="{ 'd-none': !element.isActive }"
    class="fas fa-square only-bottom  ui-resizable-handle ui-resizable-s width-unset"
    (mouseenter)="dragDropStatus = false"
  ></i>
  <i
    [ngClass]="{ 'd-none': !element.isActive }"
    class="fas fa-square only-right  ui-resizable-handle ui-resizable-e"
    (mouseenter)="dragDropStatus = false"
  ></i>
  <i
    [ngClass]="{ 'd-none': !element.isActive }"
    class="fas fa-square only-left  ui-resizable-handle ui-resizable-w"
    (mouseenter)="dragDropStatus = false"
  ></i>
  <!-- <i [ngClass]="{'d-none' : !element.isActive}" class="fas fa-square only-top ui-resizable-handle ui-resizable-se"
    (mouseenter)="dragDropStatus = false"></i> -->
  <!-- <i [ngClass]="{'d-none' : !element.isActive}" class="fas fa-square only-left ui-resizable-handle ui-resizable-se"
    (mouseenter)="dragDropStatus = false"></i>
    <i [ngClass]="{'d-none' : !element.isActive}" class="fas fa-square only-right ui-resizable-handle ui-resizable-se"
    (mouseenter)="dragDropStatus = false"></i> -->
  <!-- <div class="drop-icon active"> -->
  <!-- <div class="i-group" [ngClass]="{ 'dp-none': !(element.isActive && isContainerActive) }">
      <i class="fas fa-grip-horizontal" title="Taşı"></i>
      <img
        src="../../../../assets/icons/orginal-size-icon.png"
        class="fas fa-undo cursor-p"
        (click)="setElementNaturalSize()"
        title="İlk boyutuna döndür"
      />
      <!-- <img
        src="../../../../assets/layer-512.png"
        class="element-highlight"
        [ngClass]="{ active: elHighlight }"
        (click)="highlightElement(element.id)"
        title="Ön plana çıkar"
      /> -->
      <div style="float: right;">
        <i class="fas fa-arrow-up" title="Öne Çıkar" (click)="changeElementpPriority(true)"></i>
        <i class="fas  fa-arrow-down" title="Geriye At" (click)="changeElementpPriority(false)"></i>
      </div>
    </div>
  </div> -->

  <div class="container-size" style="width:100%;">
    <ng-container *ngIf="type == elementTypes.CHART">
      <ppt-chart-element [element]="element"> </ppt-chart-element>
    </ng-container>

    <ng-container *ngIf="type == elementTypes.TABLE">
      <ppt-table-element [element]="element"> </ppt-table-element>
    </ng-container>

    <ng-container *ngIf="type == elementTypes.TEXT">
      <ppt-text-element [element]="element"> </ppt-text-element>
    </ng-container>

    <ng-container *ngIf="type == elementTypes.IMAGE">
      <ppt-image-element [element]="element"></ppt-image-element>
    </ng-container>

    <ng-container *ngIf="type == elementTypes.SHAPE">
      <ppt-shape-element [element]="element"></ppt-shape-element>
    </ng-container>
  </div>
</div>
