::ng-deep.base-element-container {
  position: absolute;
  height: unset !important;
  &.active {
    border: 1px dashed;
  }
}

.drop-icon {
  padding-left: 1%;
  display: none;

  &.active {
    display: flex;
  }
}
