@import "src/theme/theme-variables";

.navbar {
  margin-bottom: 0;
  border-bottom: 1px solid whitesmoke;
  padding-top: unset !important;
  padding-bottom: unset !important;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

.nav-link {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.dropdown-item {
  font-size: 12px;
  color: #111;
}

.dropdown-toggle::after {
  margin: 9px 0 0 9px;
}

.dropdown-style {
  border: 1px solid #ccc;
  float: left;
  line-height: 20px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  color: #222;
  cursor: pointer;
  padding: 0 10px;
}

.left130 {
  left: -130px !important;
}

.dropdown-item:hover {
  color: #e25e49;
}

.dropdown-item:active {
  background-color: unset !important;
}

.fa-parking {
  font-size: 23px;
  margin-right: 10px;
  color: #e25e49;
  cursor: pointer;
}

.dragdrop-upload-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 50px;
  border: 1px dashed #b1b1b1;
}

.drop-icon {
  font-size: 50px;
  color: #c5c5c5;
}

.modal-body {
  width: 400px;
  height: 400px;
}
