<header>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <!-- <a class="navbar-brand" href="https://github.com/ngx-rocket" translate>APP_NAME</a> -->
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbar-menu"
      aria-label="Toggle navigation"
      (click)="toggleMenu()"
      [attr.aria-expanded]="!menuHidden"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar-menu" class="collapse navbar-collapse float-xs-none" [ngbCollapse]="menuHidden">
      <!-- <div class="navbar-nav">
        <a class="nav-item nav-link text-uppercase" routerLink="/home" routerLinkActive="active">
          <i class="fas fa-home"></i>
          <span translate>Home</span>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/about" routerLinkActive="active">
          <i class="fas fa-question-circle"></i>
          <span translate>About</span>
        </a>
      </div> -->
      <i class="fas fa-parking"></i>
      <div class="nav-item dropdown-style" ngbDropdown placement="bottom-right">
        <a id="language-dropdown" ngbDropdownToggle>FILE</a>
        <div ngbDropdownMenu aria-labelledby="language-dropdown" class="dropdown-button-group">
          <button ngbDropdownItem class="dropdown-button"><i class="fas fa-file button-icon"></i>New</button>
          <button ngbDropdownItem (click)="openModal(imageContent)" class="dropdown-button">
            <i class="fas fa-folder-open button-icon"></i>Open...
          </button>
          <button ngbDropdownItem (click)="onExport()" class="dropdown-button">
            <i class="fas fa-file-export button-icon"></i>Export
          </button>
        </div>
      </div>

      <div class="undo-redo-div">
        <button class="btn icon-button" (click)="undoChanges()"><i class="fas fa-undo"></i></button>
        <button class="btn icon-button" (click)="redoChanges()"><i class="fas fa-redo"></i></button>
      </div>

      <ng-template #imageContent let-modal>
        <div class="modal-body">
          <!-- <div
            ng2FileDrop
            (onFileDrop)="onFileDrop($event)"
            [ngClass]="{ 'nv-file-over': hasBaseDropZoneOver }"
            (fileOver)="fileOverBase($event)"
            [uploader]="uploader"
            class="well my-drop-zone"
            class="dragdrop-upload-area"
          >
            <div><i class="far fa-images drop-icon"></i></div>
            <div>Drag and Drop</div>
            <div>
              <input
                style="font-size: 13px;margin: 20px 0 0 50px;"
                type="file"
                ng2FileSelect
                [uploader]="uploader"
                (onFileSelected)="onFileSelect($event)"
                multiple
              />
            </div>
          </div> -->
        </div>
      </ng-template>

      <div class="navbar-nav ml-auto">
        <div class="nav-item dropdown-style language-dropdown" ngbDropdown placement="bottom-right">
          <a id="language-dropdown" ngbDropdownToggle>Language</a>
          <div ngbDropdownMenu aria-labelledby="language-dropdown">
            <!-- <button class="dropdown-item" *ngFor="let language of languages" (click)="setLanguage(language)">
              {{ language }}
            </button> -->
            <button ngbDropdownItem>English</button>
            <button ngbDropdownItem>Türkçe</button>
          </div>
        </div>
        <div class="nav-item" ngbDropdown placement="bottom-right">
          <a id="user-dropdown" class="nav-link" ngbDropdownToggle>
            <i class="fas fa-user-circle"></i>
          </a>
          <div ngbDropdownMenu class="left130" aria-labelledby="user-dropdown">
            <h6 class="dropdown-header">
              <span translate>Logged in as</span> <b>{{ username }}</b>
            </h6>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" (click)="logout()" translate>Logout</button>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
