<div>
  <label class="form-check-label noselect " for="numberInput_{{ generatedId }}">
    <span class="text"> {{ formatInput.name }} </span>
    <input
      type="number"
      name="number-input"
      id="numberInput_{{ generatedId }}"
      [ngModel]="formatInput.value"
      (ngModelChange)="onValueChange($event)"
      placeholder="formatInput.value"
      [min]="formatInput.min"
      [max]="formatInput.max"
      [step]="formatInput.step"
      class="form-control col-lg-5 number-input"
    />
  </label>
  <small class="note" *ngIf="formatInput.note">{{ formatInput.note }}</small>
</div>
