/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

// Theme customization
@import "theme/theme";

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

ppt-slide-list {
  height: 100%;
}

.modal-dialog {
  display: flex !important;
  justify-content: center !important;
}

.modal-content {
  width: fit-content !important;
}

.form-check-label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.w-h-100 {
  width: 100% !important;
  height: 100% !important;
}

.cursor-p {
  cursor: pointer;
}

.dp-none {
  display: none !important;
}

.text {
  font-size: 11px;
  color: #444;
  width: 50%;
  margin: auto 0;
  cursor: default;
}

.list-bullets {
  display: list-item !important;
  list-style-position: inside;
}

.list-numbers {
  display: list-item !important;
  list-style-position: inside;
  list-style-type: decimal;
}

.ui-resizable-handle {
  width: unset !important;
}

.input-style {
  font-size: 11px;
}

.button-grey {
  background-color: #f4f5f6;
  border-color: #dfdfdf;
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 2px;
  outline: 0;
  margin: 0;
  padding: 4px 5px;
  width: 100%;
  text-align: left;
  position: relative;
  min-height: 36px;
  font-size: 15px;
  color: #111;
  margin-bottom: 10px;
  font-family: "Lato", Segoe UI, sans-serif;
  letter-spacing: 0.3px;
  font-size: 11px;
  text-align: center;
  box-shadow: unset !important;
}

.button-grey:hover {
  background: linear-gradient(#fff, #eceef1);
}

.button-dropdown {
  font-size: 11px;
  width: 100%;
  box-shadow: unset !important;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
