<div>
  <label class="form-check-label noselect " for="textInput_{{ generatedId }}">
    <span class="text"> {{ formatInput.name }} </span>

    <input
      type="text"
      name="text-input"
      id="textInput_{{ generatedId }}"
      [(ngModel)]="formatInput.value"
      (ngModelChange)="onValueChange()"
      placeholder="formatInput.value"
      class="form-control col-lg-4 input-text input-style"
    />
  </label>

  <small class="note" *ngIf="formatInput.note">{{ formatInput.note }}</small>
</div>
